# Core ML stack
torch==2.2.2
numpy==1.26.4
joblib>=1.3
scikit-learn>=1.1
scipy==1.11.4

# feature extraction stack
pefile
zstandard
signify==0.7.1
# thrember via EMBER2024 repo:
git+https://github.com/FutureComputing4AI/EMBER2024.git#egg=thrember

# Web + runtime
flask>=2.2
gevent>=22.10
envparse
requests
tqdm

# Optional: fast vector index (for future use)
annoy
pandas>=1.5
